<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.w3.org/1999/xhtml">
    <div th:insert="~{header :: header}"></div>
    <link rel="stylesheet" href="/css/login.css">
    <script>
        window.onload = function () {
            const urlParams = new URLSearchParams(window.location.search);
            if (urlParams.has('error')) {
                const errorType = urlParams.get('error');
                let errorMessage = '';

                if (errorType === 'locked') {
                    errorMessage = "Your account is locked and cannot be accessed.";
                } else if (errorType === 'badCredentials') {
                    errorMessage = "Invalid username or password.";
                } else if (errorType === 'invalidDomainGroup') {
                    errorMessage = "Invalid domain group selected.";
                }

                // If there's an error message, show it as an alert
                if (errorMessage) {
                    alert(errorMessage); // Display the alert with the error message
                }
            }
        };
    </script>
</head>
<body class="d-flex flex-column min-vh-100">

<!-- Include the navbar -->
<div th:insert="~{navbar :: navbar}"></div>

<!-- Sign In Form -->
<div class="container d-flex flex-grow-1 justify-content-center align-items-center my-5">
    <div class="row justify-content-center form-color py-5 px-5">
        <div class="col">
            <form action="/login" method="post">
                <h1 class="h3 mb-3 fw-normal heading">Sign in</h1>

                <div class="form-floating mt-4">
                    <input type="text" class="form-control" id="floatingInput" placeholder="username" name="username">
                    <label for="floatingInput">Username</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
                    <label for="floatingPassword">Password</label>
                </div>
                <select class="form-select mb-3" aria-label="Default select example"  id="domainGroup" name="domainGroup" required>&ndash;&gt;-->
                    <option value="admin">Admin</option>
                    <option value="agent">Agent</option>
                    <option value="buyer">Buyer</option>
                    <option value="seller">Seller</option>
                </select>

                <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
            </form>
        </div>
    </div>
</div>

    <!-- Footer section -->
    <div class="mt-auto footer-color" th:insert="~{footer :: footer}"></div>
</body>
</html>
