
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:insert="~{header :: header}"></div>
<title>Dashboard</title>
<link rel="stylesheet" href="/css/agentDashboard.css" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    async function displayDeleteListingConfirm(carPlateNumber) {
        Swal.fire({
              title: "Delete Listing!",
              text: "Confirm",
              confirmButtonText: 'OK',
              showCancelButton: true,
            }).then((result) => {
                if (result.isConfirmed) {
                    deleteListing(carPlateNumber);
                }
        });
    }

    function displayDeleteListingSuccess() {
        Swal.fire({
          title: "Listing Deleted!",
          icon: "success",
          confirmButtonText: 'OK'
        }).then(() => {
            // Redirect after user clicks "OK" in Swal
            window.location.href = "/InfinityNetwork/agent/listings";
        });
    }

    function displayError(error) {
         Swal.fire({
                title: 'Error!',
                text: 'Failed to delete listing.',
                icon: 'error',
                confirmButtonText: 'OK'
        }).then(() => {
                // Redirect after user clicks "OK" in Swal
                window.location.href = "/InfinityNetwork/agent/listings";
        });
    }

    async function deleteListing(carPlateNumber) {
        const url = `/InfinityNetwork/agent/deleteListing?carPlateNumber=${carPlateNumber}`;
        try {
            const response = await fetch(url, {
                method: "POST"
            })
            if (!response.ok) {
                throw new Error(`Error: ${response.statusText}`);
            }
            const result = await response.text();
            if (result !== "success") {
                throw new Error(result);
            }
            displayDeleteListingSuccess();
        } catch(error) {
            displayError(error);
        }
    }

    async function updateListing(listing) {
        window.location.href = `/InfinityNetwork/agent/update?carPlateNumber=${listing}`;
    }

    function showUsedCarListing(listings){
        const listingCardsContainer = document.getElementById('listing-cards');
        listingCardsContainer.innerHTML = ''; // Clear any existing content
        // Generate a card for each user
        listings.forEach(listing => {
            const card = document.createElement('div');
            card.classList.add('col-md-4'); // Bootstrap column class for responsive layout

            console.log("photo");
            console.log(listing.photo);
            // Create card HTML structure
            card.innerHTML = `
                <div class="card h-100">
                        <img src="${listing.photo ? listing.photo : ''}" alt="No Image" class="card-img-top card-img fit-picture">
                    <div class="card-body">
                        <p class="card-text"><span class="user-info">Car Brand</span>: ${listing.carBrand}</p>
                        <p class="card-text"><span class="user-info">Car Model</span>: ${listing.carModel}</p>
                        <p class="card-text"><span class="user-info">Plate Number</span>: ${listing.carPlateNumber}</p>
                        <p class="card-text"><span class="user-info">Created At</span>: ${listing.created_at}</p>
                        <p class="card-text"><span class="user-info">Manufactured Year</span>: ${listing.manufacturedYear}</p>
                        <p class="card-text"><span class="user-info">Millage</span>: ${listing.millage}</p>
                        <p class="card-text"><span class="user-info">Price</span>: ${listing.price}</p>
                        <p class="card-text"><span class="user-info">Updated At</span>: ${listing.updated_at}</p>
                        <p class="card-text"><span class="user-info">Listed By</span>: ${listing.listedBy}</p>
                        <p class="card-text"><span class="user-info">Seller Username</span>: ${listing.sellerUsername}</p>
                        <p class="card-text"><span class="user-info">View Count</span>: ${listing.viewCount}</p>
                        <p class="card-text"><span class="user-info">Listing Status</span>: ${listing.listingStatus}</p>
                    </div>
                    <div class="card-footer container">
                        <div class="row justify-content-between">
                            <button class="btn btn-primary col-5" onclick="updateListing('${listing.carPlateNumber}')">Edit Listing</button>
                            <button class="btn btn-primary col-5" onclick="displayDeleteListingConfirm('${listing.carPlateNumber}')">Delete Listing</button>
                        </div>
                    </div>
                </div>
            `;

            // Append the card to the container
            listingCardsContainer.appendChild(card);
        });
    }

    async function getAgentUsedCarListing() {
        try {
            const username = sessionStorage.getItem("username");
            const url = `/InfinityNetwork/agent/fetchAllListing?username=${username}`
            const response = await fetch(url);
            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }
            const listings = await response.json();

            showUsedCarListing(listings);

        } catch (error) {
            console.error('Error fetching user data:', error);
        }
    }

    async function getSearchedAgentUsedCarListing() {
        const input = document.getElementById("search-value");
        const value = input.value;
        const criteria = document.getElementById("search-by").value;
        try {
            const username = sessionStorage.getItem("username");
            const url = `/InfinityNetwork/agent/searchListing?criteria=${criteria}&value=${value}&username=${username}`;
            const response = await fetch(url);
            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }
            const listings = await response.json();
            showUsedCarListing(listings);
        } catch(error) {
        }
    }

    document.addEventListener("DOMContentLoaded", function() {
        const currentUrl = window.location.pathname;
        const navLinks = document.querySelectorAll(".navbar-nav .nav-link");

        navLinks.forEach(link => {
            if (link.getAttribute("href") === currentUrl) {
                link.classList.add("active");
            }
        });

        getAgentUsedCarListing();

        const searchButton = document.getElementById("search-button");
        searchButton.addEventListener("click", getSearchedAgentUsedCarListing);

        const allButton = document.getElementById("search-all-button");
        allButton.addEventListener("click", async function() {
            try {
                getAgentUsedCarListing();
                const input = document.getElementById("search-value");
                input.value = "";
            } catch(error) {
                console.log("error");
            }
        });

        // Add redirection to buttons
        const createButton = document.getElementById("create-button");
        createButton.addEventListener("click", () => {
            window.location.href = "/InfinityNetwork/agent/create";
        });

        // Add redirection to buttons
        const viewButton = document.getElementById("view-button");
        viewButton.addEventListener("click", () => {
            window.location.href = "/InfinityNetwork/agent/reviews";
        });
    });
</script>
</head>
<body class="d-flex flex-column min-vh-100">
<div th:insert="~{agentNavbar :: agent-navbar}"></div>

<div class="px-4 py-5 my-5 text-center">
    <svg xmlns="http://www.w3.org/2000/svg" width="72" height="57" fill="currentColor" cclass="d-block mx-auto mb-4 bi bi-person-fill-gear" viewBox="0 0 16 16">
        <path d="M4 9a1 1 0 1 1-2 0 1 1 0 0 1 2 0m10 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0M6 8a1 1 0 0 0 0 2h4a1 1 0 1 0 0-2zM4.862 4.276 3.906 6.19a.51.51 0 0 0 .497.731c.91-.073 2.35-.17 3.597-.17s2.688.097 3.597.17a.51.51 0 0 0 .497-.731l-.956-1.913A.5.5 0 0 0 10.691 4H5.309a.5.5 0 0 0-.447.276"/>
        <path d="M2.52 3.515A2.5 2.5 0 0 1 4.82 2h6.362c1 0 1.904.596 2.298 1.515l.792 1.848c.075.175.21.319.38.404.5.25.855.715.965 1.262l.335 1.679q.05.242.049.49v.413c0 .814-.39 1.543-1 1.997V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.338c-1.292.048-2.745.088-4 .088s-2.708-.04-4-.088V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.892c-.61-.454-1-1.183-1-1.997v-.413a2.5 2.5 0 0 1 .049-.49l.335-1.68c.11-.546.465-1.012.964-1.261a.8.8 0 0 0 .381-.404l.792-1.848ZM4.82 3a1.5 1.5 0 0 0-1.379.91l-.792 1.847a1.8 1.8 0 0 1-.853.904.8.8 0 0 0-.43.564L1.03 8.904a1.5 1.5 0 0 0-.03.294v.413c0 .796.62 1.448 1.408 1.484 1.555.07 3.786.155 5.592.155s4.037-.084 5.592-.155A1.48 1.48 0 0 0 15 9.611v-.413q0-.148-.03-.294l-.335-1.68a.8.8 0 0 0-.43-.563 1.8 1.8 0 0 1-.853-.904l-.792-1.848A1.5 1.5 0 0 0 11.18 3z"/>
    </svg>
    <h1 class="display-5 fw-bold">Used Car Listings</h1>
    <div class="col-lg-6 mx-auto">
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-outline-secondary btn-lg px-4 gap-3" id="create-button">Create Listing</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4" id="view-button">View Ratings</button>
        </div>
    </div>
</div>

<!-- Search bar -->
<div class="row">
    <div class="col-md-8">
        <div class="input-group mb-3">
            <input id="search-value" type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
            <label class="btn btn-outline-secondary" for="search-by">Search By</label>
            <select class="form-select" id="search-by">
                <option value="carBrand" selected>Car Brand</option>
                <option value="carModel">Car Model</option>
                <option value="carPlateNumber">Plate Number</option>
                <option value="listingStatus">Listing Status</option>
                <option value="manufacturedYear">Manufactured Year</option>
                <option value="sellerUsername">Seller Username</option>
            </select>
            <button class="btn btn-outline-secondary" type="button" id="search-button">Search</button>
            <button class="btn btn-outline-secondary" type="button" id="search-all-button">All</button>
        </div>
    </div>
</div>

<!-- Dashboard -->
<div class="container-fluid px-5 my-5" style="background-color: white">

        <!-- Listings -->
        <div id="listing-cards" class="row g-4 overflow-auto" style="max-height: 800px"></div>
</div>



    <div class="mt-auto footer-color container-fluid" th:insert="~{footer :: footer}"></div>
</body>
</html>