<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:insert="~{header :: header}"></div>
<script>
    function displayUpdateProfileForm() {
         var myModal = new bootstrap.Modal(document.getElementById('staticBackdrop-update'), {
          backdrop: 'static',
          keyboard: false
        });
        myModal.show();
    }

    async function updateUserProfile(profileName) {
        const url = `/InfinityNetwork/admin/updateProfile?profileName=${profileName}`;
        console.log(url);
        window.location.href = `/InfinityNetwork/admin/updateProfile?profileName=${profileName}`;
    }

    async function unsuspendProfile(name) {
        const data = new FormData();
        data.append('profileName', name);
        data.append('value', 1);
        data.forEach((value, key) => {
            console.log(`${key}: ${value}`);
        });;
        fetch('/InfinityNetwork/admin/suspendUserProfile', {
            method: 'POST',
            body: data
        })
        .then(response => {
            if (response.ok) {
                Swal.fire({
                          title: "Profile Unsuspended!",
                          icon: "success",
                          confirmButtonText: 'OK'
                });
                fetchProfilesData();
                return response.text();
            } else {
                Swal.fire({
                        title: 'Error!',
                        text: 'Failed to unsuspend account.!',
                        icon: 'error',
                        confirmButtonText: 'OK'
                 });
                throw new Error('Network response was not ok.');
            }
        })
        .then(data => {
            console.log('Response:', data);
        })
        .catch(error => {
            console.error('Error:', error);
        });
        fetchProfilesData();
    }

    async function displaySuspendProfileConfirmation(profileName) {
        Swal.fire({
            title: "Confirm Suspend Account?",
            text: "Press OK to confirm",
            confirmButtonText: 'OK'
        }).then(() => {
            suspendUserProfile(profileName)
        })
    }

    function displaySuspendProfileSuccess() {
        Swal.fire({
              title: "Profile Suspended!",
              icon: "success",
              confirmButtonText: 'OK'
        });
    }

    function displayError(error) {
        Swal.fire({
               title: 'Error!',
               text: 'Failed to Suspend account.!',
               icon: 'error',
               confirmButtonText: 'OK'
        });
    }

    async function suspendUserProfile(profileName) {
        const data = new FormData();
        data.append('profileName', profileName);
        data.append('value', 0);
        data.forEach((value, key) => {
            console.log(`${key}: ${value}`);
        });;
        try {
            const response = await fetch('/InfinityNetwork/admin/suspendUserProfile', {
                method: 'POST',
                body: data
            });
            if(!response.ok) {
                throw new Error('Something went wrong')
            }
            displaySuspendProfileSuccess();
        } catch (error) {
            displayError(error);
        }
        fetchProfilesData();
    }

    function createProfileCards(profiles) {
        const userCardsContainer = document.getElementById('profile-cards');
        userCardsContainer.innerHTML = ''; // Clear any existing content
    // Generate a card for each user
        profiles.forEach(profile => {
            const card = document.createElement('div');
            card.classList.add('col-md-4'); // Bootstrap column class for responsive layout
            console.log(profile);

            // Create card HTML structure
            card.innerHTML = `
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Profile Name: ${profile.profileName}</h5>
                        <h5 class="card-title">Profile Enabled: ${profile.enabled}</h5>
                        <h5 class="card-title">Profile Description: ${profile.profileDescription}</h5>
                    </div>
                    <div class="card-footer container">
                        <div class="row justify-content-between">
                            <button class="btn btn-primary col-lg-5 col-10 mx-2" onclick="updateUserProfile('${profile.profileName}')">Update Profile</button>
                            <button class="btn btn-primary col-lg-5 col-10" onclick="${profile.enabled ? `displaySuspendProfileConfirmation('${profile.profileName}')` : `unsuspendProfile('${profile.profileName}')`}">
                                ${profile.enabled ? 'Suspend Profile' : 'Unsuspend Profile'}
                            </button>
                        </div>

                    </div>
                </div>
            `;

            // Append the card to the container
            userCardsContainer.appendChild(card);
        });
    }

    async function fetchProfilesData() {
        try {
            const response = await fetch("/InfinityNetwork/admin/fetchAllProfile");
            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }
            const profiles = await response.json();

            console.log(profiles);
            createProfileCards(profiles);

        } catch (error) {
            console.error('Error fetching user data:', error);
        }
    }

    async function showList(criteria) {
        try {
            const url = `/InfinityNetwork/admin/searchProfile?profileName=${criteria}`;
            const response = await fetch(url);
            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }
            const profiles = await response.json();
            createProfileCards(profiles);
        } catch (error) {
        }
    }

     document.addEventListener("DOMContentLoaded", function() {
        const currentUrl = window.location.pathname;
        const navLinks = document.querySelectorAll(".navbar-nav .nav-link");

        navLinks.forEach(link => {
            if (link.getAttribute("href") === currentUrl) {
                link.classList.add("active");
            }
        });

        fetchProfilesData();

        const form = document.getElementById("search-button");
        form.addEventListener("click", () => {
            const criteria = document.getElementById("search-value").value;
            showList(criteria);
        })
    });
</script>
<link rel="stylesheet" href="/css/adminDashboard.css" />
</head>
<body class="d-flex flex-column min-vh-100">
    <div th:insert="~{adminNavbar :: admin-navbar}"></div>

    <div class="px-4 py-5 my-5 text-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="72" height="57" fill="currentColor" class="bi bi-person-lines-fill mb-4" viewBox="0 0 16 16">
            <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1z"/>
        </svg>
        <h1 class="display-5 fw-bold">Profiles</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Manage Profiles Here. Create, View, Update And Delete profiles.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-outline-secondary btn-lg px-4 gap-3" id="create-button" onclick="window.location.href = '/InfinityNetwork/admin/createProfile';">Create Profile</button>
            </div>
        </div>
    </div>
    <!-- Dashboard -->
    <div class="container-fluid px-5 py-3" style="background-color: white">
        <!-- Search bar -->
        <div class="row">
            <div class="col-md-5">
                <div class="input-group mb-3">
                    <input id="search-value" type="text" class="form-control" placeholder="Profile Name" aria-label="Profile Name" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="button" id="search-button">Search</button>
                    <button class="btn btn-outline-secondary" type="button" id="search-all-button">All</button>
                </div>
            </div>
        </div>

        <div id="profile-cards" class="row g-4"></div>
    </div>


    <div class="mt-auto footer-color" th:insert="~{footer :: footer}"></div>
</body>
</html>